<label for="{{for}}">
  <input
    name="{{name}}"
    id="{{id}}"
    placeholder="{{placeholder}}"
    class="{{#each clx}}{{this}} {{/each}}"
    {{#each attrs}}{{tag}}="{{value}}"{{/each}}
  />
    {{text}}
  </label>
