<div class="{{css.wrapper}}">
  <div class="{{css.frame}}">
    <div class="{{css.header}}">
      <h1>Sign up</h1>
    </div>
    <form id="form-register">
      <div class="{{css.inputs}}">
        <label for="first_name">
          <input name="first_name" id="first_name" />
          First Name
        </label>
        <label for="second_name">
          <input name="second_name" id="second_name" />
          Second Name
        </label>

        <label for="login">
          <input name="login" id="login" />
          Login
        </label>
        <label for="email">
          <input name="email" id="email" />
          Email
        </label>
        <label for="password">
          <input name="password" id="password" type="password" />
          Password
        </label>
        <label for="phone">
          <input name="phone" id="phone" />
          Phone
        </label>
      </div>
      <div class={{css.flex-btns}}>
        <button id="cancel-btn" class="{{css.outlined-btn}}">Cancel</button>
        <button
          id="register-btn"
          class="{{css.contained-btn}}"
        >Register</button>
      </div>
    </form>
  </div>
</div>
