<div class="{{css.window}}">
  <div class="{{css.title}}">
    <h2>{{username}}</h2>
  </div>
  <div class="{{css.feed-wrapper}}">
    <div class="{{css.feed}}">
      {{#each messages}}
        <div
          class="{{#if (isYourMessage author)}}{{../css.income-message}}{{else}}{{../css.your-message}}{{/if}}"
          data-time="{{time}}"
        >
          <p>{{message}}</p>
        </div>
      {{/each}}
    </div>
  </div>
  <form class="{{css.message-input}}" id="form-message">
    <input placeholder="Enter message" name="message" autocomplete="off"/>
  </form>
</div>
