<div class="{{css.wrapper}}">
  <div class="{{css.container}}">
    <h1 class="{{css.err-code}}">{{code}}</h1>
    <p class="{{css.err-caption}}">{{caption}}</p>
    <button class="{{css.btn-go-back}}" id="go-back">Go Back</button>
  </div>
</div>