<div class="{{css.wrapper}}">
  <div class="{{css.frame}}">
    <div class="{{css.header}}">
      <h1>Login</h1>
      {{{test}}}
    </div>
    <form id="form-login">
      <div class="{{css.inputs}}">
        <label for="login">
          <input name="login" id="login" />
          Login
        </label>
        <label for="Password">
          <input name="password" id="password" type="password" />
          Password
        </label>
      </div>
      <div class={{css.flex-btns}}>
        <button id="sign-up-btn" class="{{css.outlined-btn}}" type="button">
          Sign up
        </button>
        <button
          id="sign-in-btn"
          class="{{css.contained-btn}}"
          type="submit"
        >Sign in</button>
      </div>
    </form>
  </div>
</div>
