<div class="{{css.wrapper}}">
  <div class="{{css.frame}}">
    <div class="{{css.header}}">
      <h1>Login</h1>
    </div>
    <form id="form-login">
      <div class="{{css.inputs}}">
        <label for="login">
          <input name="login" id="login" />
          Login
        </label>
        <label for="Password">
          <input name="password" id="password" />
          Password
        </label>
      </div>
      <div class={{css.flexBtns}}>
        <button id="sign-up-btn" class="{{css.outlinedBtn}}">Sign up</button>
        <button id="sign-in-btn" class="{{css.containedBtn}}">Sign in</button>
      </div>
    </form>
  </div>
</div>